main{
    font-family: 'Montserrat', sans-serif;
}

/*---------------- Header -----------------*/
.bg-blue-color{
    background-color: #5E89B5;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 6em;
    color: white;
}

h5{
    color: white;
    font-size: 1.38em;
    font-weight: 400;
    padding-left: 0.3em;
    margin-top: -0.5em;
}

.first-line{    /*--- H1 and social links spacing -----*/
    padding-top: 2em;
    padding-bottom: 1em;
}

/*--- \/\/ Mouse hover on "Felipe Rabaça" -----*/
.resume {
    position: relative;
  }

.resume a {
    color: white;
    z-index: 1;
    position: relative;
    
    text-decoration: none;
}
  
.resume a::after {
    content: "";
    position: absolute;
    left: -0.1px;
    right: -0.1px;
    bottom: 0;
    height: 100%;
    transform: scaleY(.3);
    transition: transform .1s ease-in-out;
    transform-origin: bottom;
    background-color: hsl(224, 0%, 100%, 0.25);
}

.resume .blue-link{   /*--- Change "e-mail" color on chat -----*/
    color: #5E89B5;;
}

.resume .blue-link::after{
    background-color: hsl(210, 48%, 71%, 0.25); /*--- Change mouse over color on "e-mail" -----*/
}
  
.resume a:hover::after {
    transform: scaleY(1);
}
/* End */  

.drop-shadow-grey{              /*--- Generic grey shadow for text -----*/
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.drop-shadow-blue{              /*--- Same shadow but blue -----*/
    text-shadow: 0px 5px 10px rgba(94, 137, 181, 0.25);
}



@media (max-width: 768px){
    h1{
        font-size: 4em;
    }
    
    .social-links li{
        padding: 0.4em;
    }
    
    .social-links > a{
        margin-top: 1.3em;
        margin-left: 0.8em;
    }

}

.top-divider{             /*--- \/ Fixes white line on iOS -----*/
    margin-top: -1px;
}

.bottom-divider{
    margin-bottom: -1px;
    
    margin-top: 3em;
}


/*---------------- Projects -----------------*/
.banner-home{
    border-radius: 1em;
    margin: 1em 0;   
}


.project-title h3{
    color: #5E89B5;
    font-size: 2.5em;
    margin-top: 0.3em;
    margin-bottom: 0.6em;
}

.project-title h3:hover{
    text-decoration: underline;
}

.button{
    display: block;
    background-color: #5E89B5;
    color: white;
    
    padding: 0.6em 0;
    border-radius: 0.6em;
    margin-top: 3em;
    
    transition: 0.2s;
}

.project-title a{
    text-decoration: none;
}

.button:hover{
    background-color: white;
    border: solid 2px #5E89B5;
    color: #5E89B5;
    
    padding: 0.5em 0;
}


/*---------------- Chat -----------------*/


/*---------------- Footer -----------------*/
.txt-right{
    text-align: right;
}

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

h2{
    font-size: 3em;
    font-weight: 600;
    font-style: normal;
    color: white;
    
    margin-bottom: 1em;
}

footer p{
    color: white;
}

.heart{
    fill: #B55E5E;
    width: 1.2em;
    
    transition: 0.2s;
}

.heart:hover{
    width: 2em;
    fill: #d61a1a;
}

footer{
    padding-bottom: 1em;
}


@media (max-width: 768px){
    
    h2{
        padding-top: 0.5em;
        font-size: 2em;
    }
   
}
