.posts .title{
    color: #5E89B5;
}

.posts .video{
    margin-top: 2.4em;
    margin-bottom: 2.4em;
}

.posts .quote{
    color: #5E89B5;
    font-style: italic;
    
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 0;
}

.posts .date{
    margin-top: 3.5em;
    margin-bottom: -1em;
    
    color: #404040;
}

.img-margin{
    margin: 2em 0;
}